<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>com.example.listener.ContextListener</listener-class>
  </listener>

  <!-- Pages -->
  <servlet>
    <servlet-name>LeaderboardServlet</servlet-name>
    <servlet-class>com.example.leaderboard.servlets.LeaderboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardServlet</servlet-name>
    <url-pattern>/api/leaderboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.example.registration.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/api/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LeaderboardPageServlet</servlet-name>
    <servlet-class>com.example.leaderboard.servlets.LeaderboardPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardPageServlet</servlet-name>
    <url-pattern>/leaderboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.example.home.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.example.registration.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.example.registration.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProfilePageServlet</servlet-name>
    <servlet-class>com.example.user_profile.servlets.ProfilePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePageServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemsListPageServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemsListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemsListPageServlet</servlet-name>
    <url-pattern>/problems</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemPageServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemPageServlet</servlet-name>
    <url-pattern>/problems/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubmitCodePageServlet</servlet-name>
    <servlet-class>com.example.submissions.servlets.SubmitCodePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitCodePageServlet</servlet-name>
    <url-pattern>/problems/submit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubmitSpecificCodePageServlet</servlet-name>
    <servlet-class>com.example.submissions.servlets.SubmitSpecificCodePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitSpecificCodePageServlet</servlet-name>
    <url-pattern>/problems/submit/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubmissionsListPageServlet</servlet-name>
    <servlet-class>com.example.submissions.servlets.SubmissionsListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmissionsListPageServlet</servlet-name>
    <url-pattern>/problems/submissions/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.example.user_profile.servlets.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/api/user/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserSessionServlet</servlet-name>
    <servlet-class>com.example.general_servlets.UserSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSessionServlet</servlet-name>
    <url-pattern>/api/user/session</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemsListServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemsListServlet</servlet-name>
    <url-pattern>/api/problems</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemServlet</servlet-name>
    <url-pattern>/api/problems/problem</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemDifficultiesServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemDifficultiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemDifficultiesServlet</servlet-name>
    <url-pattern>/api/problems/difficulties</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProblemStatusesServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemStatusesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemStatusesServlet</servlet-name>
    <url-pattern>/api/problems/statuses</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemTopicsServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemTopicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemTopicsServlet</servlet-name>
    <url-pattern>/api/problems/topics</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubmitCodeServlet</servlet-name>
    <servlet-class>com.example.submissions.servlets.SubmitCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitCodeServlet</servlet-name>
    <url-pattern>/api/problems/submit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubmissionsListServlet</servlet-name>
    <servlet-class>com.example.submissions.servlets.SubmissionsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmissionsListServlet</servlet-name>
    <url-pattern>/api/problems/submissions/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CodeLanguagesServlet</servlet-name>
    <servlet-class>com.example.submissions.servlets.CodeLanguagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeLanguagesServlet</servlet-name>
    <url-pattern>/api/languages</url-pattern>
  </servlet-mapping>

</web-app>
