<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>com.example.listener.ContextListener</listener-class>
  </listener>


  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.example.registration.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.example.registration.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProblemsListServlet</servlet-name>
    <servlet-class>com.example.problems.servlets.ProblemsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProblemsListServlet</servlet-name>
    <url-pattern>/problems</url-pattern>
  </servlet-mapping>
</web-app>
